﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>ASP.NET Web API</title>
    <link href="../../Content/Site.css" rel="stylesheet" />
    <script src="../../Scripts/jquery-1.7.1.min.js" 
        type="text/javascript"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                // Send an AJAX request
                $.getJSON("api/tasks/",
                function (data) {
                    // On success, 'data' contains a list of Tasks.
                    $.each(data, function (key, val) {

                        // Format the text to display.
                        var str = val.Name + ': ' + val.Content;

                        // Add a list item for the Task.
                        $('<li/>', { text: str })
                        .appendTo($('#Tasks'));
                    });
                });
            });

            function find() {
                var id = $('#TaskId').val();
                $.getJSON("api/Tasks/" + id,
                    function (data) {
                        var str = data.Name + ': ' + data.Content;
                        $('#Task').text(str);
                    })
                .fail(
                    function (jqXHR, textStatus, err) {
                        $('#Task').text('Error: ' + err);
                    });
            }
        </script>

</head>
<body id="body" >
    <div class="main-content">
        <div>
            <h1>All Tasks</h1>
            <ul id="Tasks"/>
        </div>
        <div>
            <label for="TaskId">ID:</label>
            <input type="text" id="TaskId" size="5"/>
            <input type="button" value="Search" onclick="find();" />
            <p id="Task" />
        </div>
    </div>
</body>
</html>